@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --primaryFont: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;

}
html,
body {
    height: 100%;
    font-family: var(--primaryFont);
    
}

p, h1, h2, h3, h4, h5, a, button, th, td{
    font-family: var(--primaryFont);
}

li{
    list-style: none;
}


/* #header{
    background: url("../asset/Background/sea.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: bottom;
    width: 100%;
    height: 100vh;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    float: right;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #f7f7f7;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.navbtn{
    border: 1px solid transparent;
    padding: 10px  20px;
    background-color: #F2AD3B;
    color: white;
    transition: 0.6s;
    border-radius: 12px;
    border: none;
    outline: none;
}

.navbtn:hover {
    background-color:#4093d7;
    color: white;
    transition: 0.6s;
}

.navbtn:hover a {
    color: white;
}

.btnt{
    background-color: #4093d7;
    color: white;
    border: 1px solid transparent;
    padding: 10px  20px;
    transition: 0.6s;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btns{
    background-color: #F2AD3B;
    color: black;
    border: 1px solid transparent;
    padding: 10px  20px;
    transition: 0.6s;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btnl{
    background-color: #fff;
    color: black;
    border: 1px solid transparent;
    padding: 10px  20px;
    transition: 0.6s;
    border-radius: 6px;
    border: none;
    outline: none;
}

svg text{
    stroke: #fff;
    /* font-weight: bold; */
    stroke-width: 1.5;
    animation: textAnimate 3s infinite alternate;
}


@keyframes textAnimate{
    0%{
        stroke-dasharray: 0 50%;
        stroke-dashoffset: -20%;
    }

    100%{
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
}

#closed{
    left: 45%;
    top: 50%;
    position: absolute;
}

h2{
    text-align: center;
}

.navbtn2{
    border: 1px solid #F2AD3B;
    padding: 10px  20px;
    background-color: #F2AD3B;
    color: white;
    transition: 0.6s;
    border-radius: 12px;
    border: none;
    outline: none;
}

.navbtn2:hover {
    background-color:#4093d7;
    color: white;
    transition: 0.6s;
}

.navbtn2:hover a {
    color: white;
}


body{
    background: url("../asset/Background/sea.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

.divTitle{
    margin-top: 30px;
	text-align: center;
    font-family: var(--primaryFont);
}

.cont{
    position: relative;
}

.image{
    display: block;
    height: 350px;
    object-fit: cover;
}

.card{
    transition: 0.5s;
}

.cont{
    /* border-radius: 20px 20px 0px 0px; */
    -webkit-filter: grayscale(100%);
}

.cont:hover{
    -webkit-filter: grayscale(0%);
}	

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    height: 100%;
}
.cont:hover .overlay{
    opacity: 1;
}
.image2{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    object-fit: cover;
    -webkit-filter: drop-shadow(1px 1px 15px rgb(255, 255, 255));
}

a{
    text-decoration: none;
}


@keyframes shaker {
    10%, 90% {
      transform: translate3d(0px, -2px, 0);
    }
    
    20%, 80% {
      transform: rotate(-4deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0px, -4px, 0);
    }
  
    40%, 60% {
      transform: rotate(4deg);
      
    }
  }

  
.h1-message{
    font-weight: 600;
    font-size: 28px;
    color: black;
}
.p-message{
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.loading-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4093d7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
}
.loading-wrapper h2{
    font-family: var(--primaryFont);
    color: white;
    font-weight: 600;
}
.crabAnim{
    animation: shaker 1.5s infinite;
    animation-delay: 1s;
    transform: translate3d(0, 0, 0);
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("../final/asset/ilustration/wave.png") ;
    background-size: 1000px 100px;
}

.wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0;
}

.wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 0;
}

.wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 0;
}


@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
   }
}

@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
   }
}

.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index:2000;
    bottom:0;
    position:relative;
    left:0px;
    float:left;
}

.parallax1 > use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
    overflow: hidden;
    
}

.parallax2 > use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
    overflow: hidden;
    
}

.parallax3 > use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
    overflow: hidden;
}

.parallax4 > use {
    animation: move-forever4 4s linear infinite;
    animation-delay: -2s;
    overflow: hidden;
}

@keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  

.card{
    border-radius: 20px !important;
    border: none !important;
}

.cardName{
    color: white;
    text-align: center;
    font-family: var(--primaryFont);
    font-size: 1rem;
    line-height: 1.4rem;
}

.cardName b{
    font-size: 1.1rem;
}

.row{
    margin-top: 10px;
}

.divTitle{
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-family: var(--primaryFont);
    border-radius: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px 10px #fff;
}

.card-body{
    border-radius: 0px 0px 20px 20px;
}

.cardCol{
    padding-top: calc(var(--bs-gutter-x)/ 2);
    padding-bottom: calc(var(--bs-gutter-y)/ 2);
}

#mains a{
    text-decoration: none;
}

section{
    padding: 30px 0px;
}

#login {
    color: white;
    font-family: var(--primaryFont);
}
#login h2{
    font-weight: 400;
}
#login h1{
    font-weight: 600;
}
#login label{
    color: black;
    font-weight: 700;
    font-size: 25px;
}
#login .btn-red{
    background-color: #BD1D22;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.floatingLogo{
    position: absolute;
    right: 20px;
    top: 20px;
}
.card1 {
    padding: 15px;
    background-color: #F2AD3B;
    border:4px solid black;
}
.card2{
    padding: 30px;
    background-color: white;
    border:4px solid black;
}
.mobile-block{
    display: none;
}
.bg-music{
    position: absolute;
    border: 4px solid black;
    border-right: none;
    top: 100px;
    right: 0px;
    padding: 10px;
    background-color: #F2AD3B;
}
.bg-music button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-family: var(--font-playfair);
}

#login-button{
    border: 1px solid #F2AD3B;
    padding: 10px  20px;
    background-color: #BD1D22;
    color: white;
    transition: 0.6s;
    border-radius: 12px;
    border: none;
    outline: none;
}

#login-button:hover {
    background-color:#4093d7;
    color: white;
    transition: 0.6s;
}

#login-button:hover a {
    color: white;
}

#footer{
    background-color: #4093d7;
    width: 100%;
    height: 30vh;
}

.footer-icon img{
    max-width: 8%;
    max-height: 8%;
    float: right;
  }
  
  .footer-icon ul {
    padding:0;
    top: 50%;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-icon li {
    padding:0 10px;
  }
  
  .footer-baiconsic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-icon ul a:hover {
    opacity:1;
  }
  
  .footer-icon .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-icon .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-icon .social > a:hover {
    opacity:0.9;
  }
  
  .footer-icon .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .footer-bottom{
      text-align: center;
      background-color: #4093d7;
      color: #fff;
  }

@media only screen and (max-width: 600px) {
    .nav-menu {
        z-index: 9999;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #F2AD3B;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        overflow-x: hidden;
    }

    .nav-item {
        margin: 2.5rem 0;
    }


    .mobile-block{
        display: block;
    }
    .floatingLogo{
        display: none;
    }
    .bg-music{
        top: 10px;
    }

    #closed{
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #mains{
        margin-top: 10%;
    }

    .editorial{
        overflow-x: hidden;
    }

    li{
        list-style: circle;
    }

    text{
        font-size: 55pt;
    }

    .cardName b{
        font-size: 1.1rem;
    }
    .cardName{
        font-size: 0.8rem;
    }
    .card-body{
        padding: 0.5rem 0.5rem;
    }

}

@media only screen and (max-width: 430px) {
    .nav-menu {
        z-index: 9999;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #F2AD3B;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        overflow-x: hidden;
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .mobile-block{
        display: block;
    }
    .floatingLogo{
        display: none;
    }
    section{
        padding: 40px 0px
    }

    #closed{
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #mains{
        margin-top: 10%;
    }

    .editorial{
        overflow: hidden;
    }

    li{
        list-style: circle;
    }

    text{
        font-size: 55pt;
    }

    .cardName b{
        font-size: 1.1rem;
    }
    .cardName{
        font-size: 0.8rem;
    }
    .card-body{
        padding: 0.5rem 0.5rem;
    }

}