@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --primaryFont: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;

}
html,
body {
    height: 100%;
    font-family: var(--primaryFont);
    
}

body{
    background: url("../asset/Background/pilar0.png");
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

section{
    padding: 80px 0px;
}

#login {
    color: white;
    font-family: var(--primaryFont);
}
#login h2{
    font-weight: 400;
}
#login h1{
    font-weight: 600;
}
#login label{
    color: black;
    font-weight: 700;
    font-size: 25px;
}
#login .btn-red{
    background-color: #BD1D22;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.floatingLogo{
    position: absolute;
    right: 20px;
    top: 20px;
}
.card1 {
    padding: 15px;
    background-color: #F2AD3B;
    border:4px solid black;
}
.card2{
    padding: 30px;
    background-color: white;
    border:4px solid black;
}
.mobile-block{
    display: none;
}
.bg-music{
    position: absolute;
    border: 4px solid black;
    border-right: none;
    top: 100px;
    right: 0px;
    padding: 10px;
    background-color: #F2AD3B;
}
.bg-music button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-family: var(--font-playfair);
}

@media only screen and (max-width: 600px) {
    .mobile-block{
        display: block;
    }
    .floatingLogo{
        display: none;
    }
    .bg-music{
        top: 10px;
    }
}
@media only screen and (max-width: 430px) {
    .mobile-block{
        display: block;
    }
    .floatingLogo{
        display: none;
    }
    section{
        padding: 50px 0px
    }
}