@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --primaryFont: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;

}
html,
body {
    height: 100%;
    font-family: var(--primaryFont);
    
}

body{
    background: url("../../asset/Background/pilar0.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


@keyframes shaker {
    10%, 90% {
      transform: translate3d(0px, -2px, 0);
    }
    
    20%, 80% {
      transform: rotate(-4deg);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0px, -4px, 0);
    }
  
    40%, 60% {
      transform: rotate(4deg);
      
    }
  }

  
.h1-message{
    font-weight: 600;
    font-size: 28px;
    color: black;
}
.p-message{
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.loading-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4093d7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99999;
}
.loading-wrapper h2{
    font-family: var(--primaryFont);
    color: white;
    font-weight: 600;
}
.crabAnim{
    animation: shaker 1.5s infinite;
    animation-delay: 1s;
    transform: translate3d(0, 0, 0);
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../asset/ilustration/waveputih.png") ;
    background-size: 1000px 100px;
}

.wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

.wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
   }
}

@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
   }
}
    
header{
    background: url("../../asset/Background/abstrak.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


section{
    padding: 30px 0px;
}

#login {
    color: white;
    font-family: var(--primaryFont);
}
#login h2{
    font-weight: 400;
}
#login h1{
    font-weight: 600;
}
#login label{
    color: black;
    font-weight: 700;
    font-size: 25px;
}
#login .btn-red{
    background-color: #BD1D22;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.floatingLogo{
    position: absolute;
    right: 20px;
    top: 20px;
}
.card1 {
    padding: 15px;
    background-color: #F2AD3B;
    border:4px solid black;
}
.card2{
    padding: 30px;
    background-color: white;
    border:4px solid black;
}
.mobile-block{
    display: none;
}
.bg-music{
    position: absolute;
    border: 4px solid black;
    border-right: none;
    top: 100px;
    right: 0px;
    padding: 10px;
    background-color: #F2AD3B;
}
.bg-music button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-family: var(--font-playfair);
}

#login-button{
    border: 1px solid #F2AD3B;
    padding: 10px  20px;
    background-color: #BD1D22;
    color: white;
    transition: 0.6s;
    border-radius: 12px;
    border: none;
    outline: none;
}

#login-button:hover {
    background-color:#4093d7;
    color: white;
    transition: 0.6s;
}

#login-button:hover a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .mobile-block{
        display: block;
    }
    .floatingLogo{
        display: none;
    }
    .bg-music{
        top: 10px;
    }
}
@media only screen and (max-width: 430px) {
    .mobile-block{
        display: block;
    }
    .floatingLogo{
        display: none;
    }
    section{
        padding: 40px 0px
    }
}